<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.hz.world.core.dao.mapper.CatchConfigMapper" >
    <resultMap id="CatchConfigResult" type="com.hz.world.core.dao.model.CatchConfig" >
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="weight" property="weight" jdbcType="INTEGER" />
      <result column="additon" property="additon" jdbcType="INTEGER" />
      <result column="fight" property="fight" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Example_Where_Clause" >
      <where >
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
      <where >
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="CatchConfigColumns" >
      id, name, weight, additon, fight
    </sql>
    <select id="selectByExample" resultMap="CatchConfigResult" parameterType="com.hz.world.core.dao.model.CatchConfigExample" >
      select
      <if test="distinct" >
        distinct
      </if>
      <include refid="CatchConfigColumns" />
      from catch_config
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
      <if test="mysqlOffset != null" >
        <if test="mysqlLength != null" >
           limit #{mysqlOffset} , #{mysqlLength} 
        </if>
      </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="CatchConfigResult" parameterType="java.lang.Integer" >
      select 
      <include refid="CatchConfigColumns" />
      from catch_config
      where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
      delete from catch_config
      where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.hz.world.core.dao.model.CatchConfigExample" >
      delete from catch_config
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </delete>
    <insert id="insert" parameterType="com.hz.world.core.dao.model.CatchConfig" >
      insert into catch_config (id, name, weight, 
        additon, fight)
      values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{weight,jdbcType=INTEGER}, 
        #{additon,jdbcType=INTEGER}, #{fight,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.hz.world.core.dao.model.CatchConfig" >
      insert into catch_config
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          id,
        </if>
        <if test="name != null" >
          name,
        </if>
        <if test="weight != null" >
          weight,
        </if>
        <if test="additon != null" >
          additon,
        </if>
        <if test="fight != null" >
          fight,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          #{id,jdbcType=INTEGER},
        </if>
        <if test="name != null" >
          #{name,jdbcType=VARCHAR},
        </if>
        <if test="weight != null" >
          #{weight,jdbcType=INTEGER},
        </if>
        <if test="additon != null" >
          #{additon,jdbcType=INTEGER},
        </if>
        <if test="fight != null" >
          #{fight,jdbcType=INTEGER},
        </if>
      </trim>
    </insert>
    <select id="countByExample" parameterType="com.hz.world.core.dao.model.CatchConfigExample" resultType="java.lang.Integer" >
      select count(*) from catch_config
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
      update catch_config
      <set >
        <if test="record.id != null" >
          id = #{record.id,jdbcType=INTEGER},
        </if>
        <if test="record.name != null" >
          name = #{record.name,jdbcType=VARCHAR},
        </if>
        <if test="record.weight != null" >
          weight = #{record.weight,jdbcType=INTEGER},
        </if>
        <if test="record.additon != null" >
          additon = #{record.additon,jdbcType=INTEGER},
        </if>
        <if test="record.fight != null" >
          fight = #{record.fight,jdbcType=INTEGER},
        </if>
      </set>
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByExample" parameterType="map" >
      update catch_config
      set id = #{record.id,jdbcType=INTEGER},
        name = #{record.name,jdbcType=VARCHAR},
        weight = #{record.weight,jdbcType=INTEGER},
        additon = #{record.additon,jdbcType=INTEGER},
        fight = #{record.fight,jdbcType=INTEGER}
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.hz.world.core.dao.model.CatchConfig" >
      update catch_config
      <set >
        <if test="name != null" >
          name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="weight != null" >
          weight = #{weight,jdbcType=INTEGER},
        </if>
        <if test="additon != null" >
          additon = #{additon,jdbcType=INTEGER},
        </if>
        <if test="fight != null" >
          fight = #{fight,jdbcType=INTEGER},
        </if>
      </set>
      where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hz.world.core.dao.model.CatchConfig" >
      update catch_config
      set name = #{name,jdbcType=VARCHAR},
        weight = #{weight,jdbcType=INTEGER},
        additon = #{additon,jdbcType=INTEGER},
        fight = #{fight,jdbcType=INTEGER}
      where id = #{id,jdbcType=INTEGER}
    </update>
  </mapper>