<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.hz.world.core.dao.mapper.CollectConfigMapper" >
    <resultMap id="CollectConfigResult" type="com.hz.world.core.dao.model.CollectConfig" >
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="type" property="type" jdbcType="INTEGER" />
      <result column="param" property="param" jdbcType="VARCHAR" />
      <result column="reward_element" property="rewardElement" jdbcType="INTEGER" />
      <result column="power" property="power" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Example_Where_Clause" >
      <where >
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
      <where >
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="CollectConfigColumns" >
      id, type, param, reward_element, power
    </sql>
    <select id="selectByExample" resultMap="CollectConfigResult" parameterType="com.hz.world.core.dao.model.CollectConfigExample" >
      select
      <if test="distinct" >
        distinct
      </if>
      <include refid="CollectConfigColumns" />
      from collect_config
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
      <if test="mysqlOffset != null" >
        <if test="mysqlLength != null" >
           limit #{mysqlOffset} , #{mysqlLength} 
        </if>
      </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="CollectConfigResult" parameterType="java.lang.Integer" >
      select 
      <include refid="CollectConfigColumns" />
      from collect_config
      where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
      delete from collect_config
      where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.hz.world.core.dao.model.CollectConfigExample" >
      delete from collect_config
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </delete>
    <insert id="insert" parameterType="com.hz.world.core.dao.model.CollectConfig" >
      insert into collect_config (id, type, param, 
        reward_element, power)
      values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{param,jdbcType=VARCHAR}, 
        #{rewardElement,jdbcType=INTEGER}, #{power,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.hz.world.core.dao.model.CollectConfig" >
      insert into collect_config
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          id,
        </if>
        <if test="type != null" >
          type,
        </if>
        <if test="param != null" >
          param,
        </if>
        <if test="rewardElement != null" >
          reward_element,
        </if>
        <if test="power != null" >
          power,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          #{id,jdbcType=INTEGER},
        </if>
        <if test="type != null" >
          #{type,jdbcType=INTEGER},
        </if>
        <if test="param != null" >
          #{param,jdbcType=VARCHAR},
        </if>
        <if test="rewardElement != null" >
          #{rewardElement,jdbcType=INTEGER},
        </if>
        <if test="power != null" >
          #{power,jdbcType=INTEGER},
        </if>
      </trim>
    </insert>
    <select id="countByExample" parameterType="com.hz.world.core.dao.model.CollectConfigExample" resultType="java.lang.Integer" >
      select count(*) from collect_config
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
      update collect_config
      <set >
        <if test="record.id != null" >
          id = #{record.id,jdbcType=INTEGER},
        </if>
        <if test="record.type != null" >
          type = #{record.type,jdbcType=INTEGER},
        </if>
        <if test="record.param != null" >
          param = #{record.param,jdbcType=VARCHAR},
        </if>
        <if test="record.rewardElement != null" >
          reward_element = #{record.rewardElement,jdbcType=INTEGER},
        </if>
        <if test="record.power != null" >
          power = #{record.power,jdbcType=INTEGER},
        </if>
      </set>
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByExample" parameterType="map" >
      update collect_config
      set id = #{record.id,jdbcType=INTEGER},
        type = #{record.type,jdbcType=INTEGER},
        param = #{record.param,jdbcType=VARCHAR},
        reward_element = #{record.rewardElement,jdbcType=INTEGER},
        power = #{record.power,jdbcType=INTEGER}
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.hz.world.core.dao.model.CollectConfig" >
      update collect_config
      <set >
        <if test="type != null" >
          type = #{type,jdbcType=INTEGER},
        </if>
        <if test="param != null" >
          param = #{param,jdbcType=VARCHAR},
        </if>
        <if test="rewardElement != null" >
          reward_element = #{rewardElement,jdbcType=INTEGER},
        </if>
        <if test="power != null" >
          power = #{power,jdbcType=INTEGER},
        </if>
      </set>
      where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hz.world.core.dao.model.CollectConfig" >
      update collect_config
      set type = #{type,jdbcType=INTEGER},
        param = #{param,jdbcType=VARCHAR},
        reward_element = #{rewardElement,jdbcType=INTEGER},
        power = #{power,jdbcType=INTEGER}
      where id = #{id,jdbcType=INTEGER}
    </update>
  </mapper>