<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.hz.world.core.dao.mapper.DateShareMapper" >
    <resultMap id="DateShareResult" type="com.hz.world.core.dao.model.DateShare" >
      <id column="date" property="date" jdbcType="DATE" />
      <result column="share" property="share" jdbcType="DOUBLE" />
    </resultMap>
    <sql id="Example_Where_Clause" >
      <where >
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
      <where >
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="DateShareColumns" >
      date, share
    </sql>
    <select id="selectByExample" resultMap="DateShareResult" parameterType="com.hz.world.core.dao.model.DateShareExample" >
      select
      <if test="distinct" >
        distinct
      </if>
      <include refid="DateShareColumns" />
      from date_share
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
      <if test="mysqlOffset != null" >
        <if test="mysqlLength != null" >
           limit #{mysqlOffset} , #{mysqlLength} 
        </if>
      </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="DateShareResult" parameterType="java.util.Date" >
      select 
      <include refid="DateShareColumns" />
      from date_share
      where date = #{date,jdbcType=DATE}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.util.Date" >
      delete from date_share
      where date = #{date,jdbcType=DATE}
    </delete>
    <delete id="deleteByExample" parameterType="com.hz.world.core.dao.model.DateShareExample" >
      delete from date_share
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </delete>
    <insert id="insert" parameterType="com.hz.world.core.dao.model.DateShare" >
      insert into date_share (date, share)
      values (#{date,jdbcType=DATE}, #{share,jdbcType=DOUBLE})
    </insert>
    <insert id="insertSelective" parameterType="com.hz.world.core.dao.model.DateShare" >
      insert into date_share
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="date != null" >
          date,
        </if>
        <if test="share != null" >
          share,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="date != null" >
          #{date,jdbcType=DATE},
        </if>
        <if test="share != null" >
          #{share,jdbcType=DOUBLE},
        </if>
      </trim>
    </insert>
    <select id="countByExample" parameterType="com.hz.world.core.dao.model.DateShareExample" resultType="java.lang.Integer" >
      select count(*) from date_share
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
      update date_share
      <set >
        <if test="record.date != null" >
          date = #{record.date,jdbcType=DATE},
        </if>
        <if test="record.share != null" >
          share = #{record.share,jdbcType=DOUBLE},
        </if>
      </set>
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByExample" parameterType="map" >
      update date_share
      set date = #{record.date,jdbcType=DATE},
        share = #{record.share,jdbcType=DOUBLE}
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.hz.world.core.dao.model.DateShare" >
      update date_share
      <set >
        <if test="share != null" >
          share = #{share,jdbcType=DOUBLE},
        </if>
      </set>
      where date = #{date,jdbcType=DATE}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hz.world.core.dao.model.DateShare" >
      update date_share
      set share = #{share,jdbcType=DOUBLE}
      where date = #{date,jdbcType=DATE}
    </update>
  </mapper>