<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.hz.world.core.dao.mapper.RechargeConfigMapper" >
    <resultMap id="RechargeConfigResult" type="com.hz.world.core.dao.model.RechargeConfig" >
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="num" property="num" jdbcType="INTEGER" />
      <result column="gift" property="gift" jdbcType="INTEGER" />
      <result column="price" property="price" jdbcType="INTEGER" />
      <result column="icon" property="icon" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
      <where >
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
      <where >
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="RechargeConfigColumns" >
      id, num, gift, price, icon
    </sql>
    <select id="selectByExample" resultMap="RechargeConfigResult" parameterType="com.hz.world.core.dao.model.RechargeConfigExample" >
      select
      <if test="distinct" >
        distinct
      </if>
      <include refid="RechargeConfigColumns" />
      from recharge_config
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
      <if test="mysqlOffset != null" >
        <if test="mysqlLength != null" >
           limit #{mysqlOffset} , #{mysqlLength} 
        </if>
      </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="RechargeConfigResult" parameterType="java.lang.Integer" >
      select 
      <include refid="RechargeConfigColumns" />
      from recharge_config
      where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
      delete from recharge_config
      where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.hz.world.core.dao.model.RechargeConfigExample" >
      delete from recharge_config
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </delete>
    <insert id="insert" parameterType="com.hz.world.core.dao.model.RechargeConfig" >
      insert into recharge_config (id, num, gift, 
        price, icon)
      values (#{id,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, #{gift,jdbcType=INTEGER}, 
        #{price,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.hz.world.core.dao.model.RechargeConfig" >
      insert into recharge_config
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          id,
        </if>
        <if test="num != null" >
          num,
        </if>
        <if test="gift != null" >
          gift,
        </if>
        <if test="price != null" >
          price,
        </if>
        <if test="icon != null" >
          icon,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >
          #{id,jdbcType=INTEGER},
        </if>
        <if test="num != null" >
          #{num,jdbcType=INTEGER},
        </if>
        <if test="gift != null" >
          #{gift,jdbcType=INTEGER},
        </if>
        <if test="price != null" >
          #{price,jdbcType=INTEGER},
        </if>
        <if test="icon != null" >
          #{icon,jdbcType=VARCHAR},
        </if>
      </trim>
    </insert>
    <select id="countByExample" parameterType="com.hz.world.core.dao.model.RechargeConfigExample" resultType="java.lang.Integer" >
      select count(*) from recharge_config
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
      update recharge_config
      <set >
        <if test="record.id != null" >
          id = #{record.id,jdbcType=INTEGER},
        </if>
        <if test="record.num != null" >
          num = #{record.num,jdbcType=INTEGER},
        </if>
        <if test="record.gift != null" >
          gift = #{record.gift,jdbcType=INTEGER},
        </if>
        <if test="record.price != null" >
          price = #{record.price,jdbcType=INTEGER},
        </if>
        <if test="record.icon != null" >
          icon = #{record.icon,jdbcType=VARCHAR},
        </if>
      </set>
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByExample" parameterType="map" >
      update recharge_config
      set id = #{record.id,jdbcType=INTEGER},
        num = #{record.num,jdbcType=INTEGER},
        gift = #{record.gift,jdbcType=INTEGER},
        price = #{record.price,jdbcType=INTEGER},
        icon = #{record.icon,jdbcType=VARCHAR}
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.hz.world.core.dao.model.RechargeConfig" >
      update recharge_config
      <set >
        <if test="num != null" >
          num = #{num,jdbcType=INTEGER},
        </if>
        <if test="gift != null" >
          gift = #{gift,jdbcType=INTEGER},
        </if>
        <if test="price != null" >
          price = #{price,jdbcType=INTEGER},
        </if>
        <if test="icon != null" >
          icon = #{icon,jdbcType=VARCHAR},
        </if>
      </set>
      where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hz.world.core.dao.model.RechargeConfig" >
      update recharge_config
      set num = #{num,jdbcType=INTEGER},
        gift = #{gift,jdbcType=INTEGER},
        price = #{price,jdbcType=INTEGER},
        icon = #{icon,jdbcType=VARCHAR}
      where id = #{id,jdbcType=INTEGER}
    </update>
  </mapper>