<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.hz.world.core.dao.mapper.UserElementManagerMapper" >
    <resultMap id="UserElementManagerResult" type="com.hz.world.core.dao.model.UserElementManager" >
      <id column="element" property="element" jdbcType="INTEGER" />
      <id column="user_id" property="userId" jdbcType="BIGINT" />
      <result column="manager" property="manager" jdbcType="BIGINT" />
      <result column="incomeRate" property="incomerate" jdbcType="DOUBLE" />
      <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Example_Where_Clause" >
      <where >
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
      <where >
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="UserElementManagerColumns" >
      element, user_id, manager, incomeRate, add_time
    </sql>
    <select id="selectByExample" resultMap="UserElementManagerResult" parameterType="com.hz.world.core.dao.model.UserElementManagerExample" >
      select
      <if test="distinct" >
        distinct
      </if>
      <include refid="UserElementManagerColumns" />
      from user_element_manager
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
      <if test="mysqlOffset != null" >
        <if test="mysqlLength != null" >
           limit #{mysqlOffset} , #{mysqlLength} 
        </if>
      </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="UserElementManagerResult" parameterType="map" >
      select 
      <include refid="UserElementManagerColumns" />
      from user_element_manager
      where element = #{element,jdbcType=INTEGER}
        and user_id = #{userId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map" >
      delete from user_element_manager
      where element = #{element,jdbcType=INTEGER}
        and user_id = #{userId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.hz.world.core.dao.model.UserElementManagerExample" >
      delete from user_element_manager
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </delete>
    <insert id="insert" parameterType="com.hz.world.core.dao.model.UserElementManager" >
      insert into user_element_manager (element, user_id, manager, 
        incomeRate, add_time)
      values (#{element,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{manager,jdbcType=BIGINT}, 
        #{incomerate,jdbcType=DOUBLE}, #{addTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.hz.world.core.dao.model.UserElementManager" >
      insert into user_element_manager
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="element != null" >
          element,
        </if>
        <if test="userId != null" >
          user_id,
        </if>
        <if test="manager != null" >
          manager,
        </if>
        <if test="incomerate != null" >
          incomeRate,
        </if>
        <if test="addTime != null" >
          add_time,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="element != null" >
          #{element,jdbcType=INTEGER},
        </if>
        <if test="userId != null" >
          #{userId,jdbcType=BIGINT},
        </if>
        <if test="manager != null" >
          #{manager,jdbcType=BIGINT},
        </if>
        <if test="incomerate != null" >
          #{incomerate,jdbcType=DOUBLE},
        </if>
        <if test="addTime != null" >
          #{addTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </insert>
    <select id="countByExample" parameterType="com.hz.world.core.dao.model.UserElementManagerExample" resultType="java.lang.Integer" >
      select count(*) from user_element_manager
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
      update user_element_manager
      <set >
        <if test="record.element != null" >
          element = #{record.element,jdbcType=INTEGER},
        </if>
        <if test="record.userId != null" >
          user_id = #{record.userId,jdbcType=BIGINT},
        </if>
        <if test="record.manager != null" >
          manager = #{record.manager,jdbcType=BIGINT},
        </if>
        <if test="record.incomerate != null" >
          incomeRate = #{record.incomerate,jdbcType=DOUBLE},
        </if>
        <if test="record.addTime != null" >
          add_time = #{record.addTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByExample" parameterType="map" >
      update user_element_manager
      set element = #{record.element,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=BIGINT},
        manager = #{record.manager,jdbcType=BIGINT},
        incomeRate = #{record.incomerate,jdbcType=DOUBLE},
        add_time = #{record.addTime,jdbcType=TIMESTAMP}
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.hz.world.core.dao.model.UserElementManager" >
      update user_element_manager
      <set >
        <if test="manager != null" >
          manager = #{manager,jdbcType=BIGINT},
        </if>
        <if test="incomerate != null" >
          incomeRate = #{incomerate,jdbcType=DOUBLE},
        </if>
        <if test="addTime != null" >
          add_time = #{addTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      where element = #{element,jdbcType=INTEGER}
        and user_id = #{userId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hz.world.core.dao.model.UserElementManager" >
      update user_element_manager
      set manager = #{manager,jdbcType=BIGINT},
        incomeRate = #{incomerate,jdbcType=DOUBLE},
        add_time = #{addTime,jdbcType=TIMESTAMP}
      where element = #{element,jdbcType=INTEGER}
        and user_id = #{userId,jdbcType=BIGINT}
    </update>
  </mapper>