<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.hz.world.core.dao.mapper.UserInvestMapper" >
    <resultMap id="UserInvestResult" type="com.hz.world.core.dao.model.UserInvest" >
      <id column="invest_id" property="investId" jdbcType="INTEGER" />
      <id column="user_id" property="userId" jdbcType="BIGINT" />
    </resultMap>
    <sql id="Example_Where_Clause" >
      <where >
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
      <where >
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="UserInvestColumns" >
      invest_id, user_id
    </sql>
    <select id="selectByExample" resultMap="UserInvestResult" parameterType="com.hz.world.core.dao.model.UserInvestExample" >
      select
      <if test="distinct" >
        distinct
      </if>
      <include refid="UserInvestColumns" />
      from user_invest
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
      <if test="mysqlOffset != null" >
        <if test="mysqlLength != null" >
           limit #{mysqlOffset} , #{mysqlLength} 
        </if>
      </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map" >
      delete from user_invest
      where invest_id = #{investId,jdbcType=INTEGER}
        and user_id = #{userId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.hz.world.core.dao.model.UserInvestExample" >
      delete from user_invest
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </delete>
    <insert id="insert" parameterType="com.hz.world.core.dao.model.UserInvest" >
      insert into user_invest (invest_id, user_id)
      values (#{investId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.hz.world.core.dao.model.UserInvest" >
      insert into user_invest
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="investId != null" >
          invest_id,
        </if>
        <if test="userId != null" >
          user_id,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="investId != null" >
          #{investId,jdbcType=INTEGER},
        </if>
        <if test="userId != null" >
          #{userId,jdbcType=BIGINT},
        </if>
      </trim>
    </insert>
    <select id="countByExample" parameterType="com.hz.world.core.dao.model.UserInvestExample" resultType="java.lang.Integer" >
      select count(*) from user_invest
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
      update user_invest
      <set >
        <if test="record.investId != null" >
          invest_id = #{record.investId,jdbcType=INTEGER},
        </if>
        <if test="record.userId != null" >
          user_id = #{record.userId,jdbcType=BIGINT},
        </if>
      </set>
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByExample" parameterType="map" >
      update user_invest
      set invest_id = #{record.investId,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=BIGINT}
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
  </mapper>