<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.hz.world.core.dao.mapper.UserTotalAddMapper" >
    <resultMap id="UserTotalAddResult" type="com.hz.world.core.dao.model.UserTotalAdd" >
      <id column="user_id" property="userId" jdbcType="BIGINT" />
      <result column="total_add" property="totalAdd" jdbcType="INTEGER" />
      <result column="type" property="type" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
      <where >
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
      <where >
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </sql>
    <sql id="UserTotalAddColumns" >
      user_id, total_add, type
    </sql>
    <select id="selectByExample" resultMap="UserTotalAddResult" parameterType="com.hz.world.core.dao.model.UserTotalAddExample" >
      select
      <if test="distinct" >
        distinct
      </if>
      <include refid="UserTotalAddColumns" />
      from user_total_add
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
      <if test="mysqlOffset != null" >
        <if test="mysqlLength != null" >
           limit #{mysqlOffset} , #{mysqlLength} 
        </if>
      </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="UserTotalAddResult" parameterType="java.lang.Long" >
      select 
      <include refid="UserTotalAddColumns" />
      from user_total_add
      where user_id = #{userId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
      delete from user_total_add
      where user_id = #{userId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.hz.world.core.dao.model.UserTotalAddExample" >
      delete from user_total_add
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </delete>
    <insert id="insert" parameterType="com.hz.world.core.dao.model.UserTotalAdd" >
      insert into user_total_add (user_id, total_add, type
        )
      values (#{userId,jdbcType=BIGINT}, #{totalAdd,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.hz.world.core.dao.model.UserTotalAdd" >
      insert into user_total_add
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="userId != null" >
          user_id,
        </if>
        <if test="totalAdd != null" >
          total_add,
        </if>
        <if test="type != null" >
          type,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="userId != null" >
          #{userId,jdbcType=BIGINT},
        </if>
        <if test="totalAdd != null" >
          #{totalAdd,jdbcType=INTEGER},
        </if>
        <if test="type != null" >
          #{type,jdbcType=VARCHAR},
        </if>
      </trim>
    </insert>
    <select id="countByExample" parameterType="com.hz.world.core.dao.model.UserTotalAddExample" resultType="java.lang.Integer" >
      select count(*) from user_total_add
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
      update user_total_add
      <set >
        <if test="record.userId != null" >
          user_id = #{record.userId,jdbcType=BIGINT},
        </if>
        <if test="record.totalAdd != null" >
          total_add = #{record.totalAdd,jdbcType=INTEGER},
        </if>
        <if test="record.type != null" >
          type = #{record.type,jdbcType=VARCHAR},
        </if>
      </set>
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByExample" parameterType="map" >
      update user_total_add
      set user_id = #{record.userId,jdbcType=BIGINT},
        total_add = #{record.totalAdd,jdbcType=INTEGER},
        type = #{record.type,jdbcType=VARCHAR}
      <if test="_parameter != null" >
        <include refid="Update_By_Example_Where_Clause" />
      </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.hz.world.core.dao.model.UserTotalAdd" >
      update user_total_add
      <set >
        <if test="totalAdd != null" >
          total_add = #{totalAdd,jdbcType=INTEGER},
        </if>
        <if test="type != null" >
          type = #{type,jdbcType=VARCHAR},
        </if>
      </set>
      where user_id = #{userId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hz.world.core.dao.model.UserTotalAdd" >
      update user_total_add
      set total_add = #{totalAdd,jdbcType=INTEGER},
        type = #{type,jdbcType=VARCHAR}
      where user_id = #{userId,jdbcType=BIGINT}
    </update>
  </mapper>